#pragma once

#ifdef INDOOR_DISPLAY_NODE
#define API_KEY "…"
#endif

#ifdef OUTDOOR_NODE
#define API_KEY "…"
#endif

#define WIFI_SSID "…"
#define WIFI_PASSWORD "…"

#define POST_URL "…"
#define GET_URL "…"

// S3 bucket URL (for certs-for-urls.sh)
// "https://xxxxxx.s3.amazonaws.com/"
